@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f4fef8;
  font-family: "Lato", sans-serif;
}

h1,
h3 {
  color: #1a2232;
  text-align: center;
}

.container {
  margin: auto;
  padding: 20px;
}

.btn {
  border: 0;
  padding: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #11ae68;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
select:focus {
  outline: 0;
}

.btn-toggle {
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.text-box {
  top: 30%;
  left: 50%;
  width: 70%;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  background-color: #1a2232;
  transition: all 1s ease-in-out;
  transform: translate(-50%, -800px);
}

.text-box.show {
  transform: translate(-50%, 0);
}

select {
  border: 0;
  height: 30px;
  display: block;
  max-width: 30%;
  font-size: 12px;
  min-width: 260px;
  color: #1a2232;
  margin: 0 auto 20px;
  background-color: #d8f6e7;
}

.text-box textarea {
  width: 100%;
  padding: 8px;
  height: 150px;
  margin: 15px 0;
  font-size: 16px;
  border-radius: 4px;
  border: 1px #f4fef8 solid;
}

.text-box .btn {
  width: 100%;
}

.text-box .close {
  /* float: right; */
  cursor: pointer;
  text-align: right;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.expression-box {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
  transition: box-shadow 0.2s ease-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.expression-box.active {
  box-shadow: 0 0 10px 5px #11ae68;
}

.expression-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.expression-box .info {
  margin: 0;
  height: 100%;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #11ae68;
}

@media (max-width: 1100px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 760px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }
}
